In [2]:
T = int(input())

In [3]:
lst = []
for _ in range(T):
    a, b = map(int, input().split())
    lst.append([a, b])

In [4]:
print(lst)

[[2, 4], [5, 1], [3, 2], [1, 10], [0, 0]]

In [5]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [41]:
lst = []
lst.append([2, 4])
lst.append([5, 1])
lst.append([3, 2])
lst.append([1, 10])
lst.append([0, 0])

In [6]:
for l in lst:
    print(l)

[2, 4]
[5, 1]
[3, 2]
[1, 10]
[0, 0]

In [25]:
answ = 0
for x in range(T, 0, -1):
    total = 0
    idx = 0
    for l in lst:
        a = l[0]
        b = l[1]
        f = a*x + b
        if f >= total:
            total = f
            idx = lst.index(l)
    print(total, idx)
    answ += total
    lst[idx] = [-1, -1]
    print(lst)
    print(answ)
    # del(lst[idx])

26 1
[[2, 4], [-1, -1], [3, 2], [1, 10], [0, 0]]
26
14 3
[[2, 4], [-1, -1], [3, 2], [-1, -1], [0, 0]]
40
11 2
[[2, 4], [-1, -1], [-1, -1], [-1, -1], [0, 0]]
51
8 0
[[-1, -1], [-1, -1], [-1, -1], [-1, -1], [0, 0]]
59
0 4
[[-1, -1], [-1, -1], [-1, -1], [-1, -1], [-1, -1]]
59

- ax+b의 값을 최대화하지 않는 건 중요하진 않은 듯
- 결국 전체 합이니까 b는 상수로 그냥 취급하면 되고 그냥 가장 큰 5,4,3,2,1로 해서 가는 걸로
- - 그럼 걍 sort해버리면 되네;

In [52]:
lst.sort(reverse=True)

In [53]:
print(lst)

[[5, 1], [3, 2], [2, 4], [1, 10], [0, 0]]

In [37]:
print(T)

5

In [46]:
sum_a = 0
sum_b = 0
t = []
for x in range(T, 0, -1):
    t.append(x)
# for x in range(T, 0, -1):
#     for l in lst:
#         print(l)
#         sum_b += l[1]
#         sum_a += l[0]*x
#         print(sum_a, sum_b)
# print(sum_a+sum_b)

In [47]:
t

[5, 4, 3, 2, 1]

In [54]:
for i in range(5):
    print(t[i], lst[i][0])

5 5
4 3
3 2
2 1
1 0

In [57]:
total = 0
for i in range(5):
    a = t[i] * lst[i][0]
    b = lst[i][1]
    print(a, b)
    total += a
    total += b
print(total)

25 1
12 2
6 4
2 10
0 0
62

In [56]:
26+14+10+12

62

In [ ]:
## 최종답
import sys
T = int(sys.stdin.readline())
lst = []
for _ in range(T):
    a, b = map(int, input().split())
    lst.append([a, b])
    
t = []
for x in range(T, 0, -1):
    t.append(x)
lst.sort(reverse=True)
total = 0
for i in range(T):
    a = t[i] * lst[i][0]
    b = lst[i][1]
    total += a
    total += b
print(total)

더 간소화하는 방법이 있을 것 같음. T대신 숫자 5를 넣어서 잘 안되고 있었음